<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Created At</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of tableData" (click)="displayData(data); $event.stopPropagation()">
      <td>{{data.title}}</td>
      <td>{{data.url}}</td>
      <td>{{data.created_at}}</td>
      <td>{{data.author}}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="viewModal" class="modal-container">
    <div class="modal">
        <div (click)="closeModal()" class="modal__close">
            <span>x</span>
         </div>
        <div class="modal__body">
            <p>{{rawJsonData | json}}</p>
        </div>
    </div>
</div>
